@model ViewModel.AdminDashboardViewModel
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/editor.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/datatables.css" rel="stylesheet" />
}

<style>
    /*Style for the Admin Dashbord*/
    .LabelIcons {
        color: white;
        font-family: Abril Fatface;
    }

    #main-block .Icons {
        width: 144px;
        height: 144px;
        line-height: 144px;
        border: 4px solid #fff;
        -webkit-border-radius: 144px;
        border-radius: 14px;
        text-align: center;
        display: block;
        margin: 0 auto 35px;
        font-size: 80px;
        text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
        box-shadow: 3px 3px 0 rgba(0,0,0,0.2)
    }

    #main-block .Icons {
        width: 144px;
        height: 144px;
        line-height: 144px;
        border: 4px solid #000;
        -webkit-border-radius: 144px;
        border-radius: 14px;
        text-align: center;
        display: block;
        margin: 0 auto 35px;
        font-size: 80px;
        text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
        box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    }

    .LabelIcons {
        text-align: center;
        color: white;
        font-family: Abril Fatface;
    }

    #main-block .span4:hover, #main-block .span4:hover .Icons {
        cursor: pointer;
    }

    #main-block section:hover .Icons {
        background: #fff;
        color: #3B73B8 !important;
    }
    /*End of ADmin Dashboard*/

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right !important;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

@section Scripts{

    <script src="~/Scripts/js/jquery-1.12.4.js"></script>
    <script src="~/Scripts/js/jquery.dataTables.min.js"></script>
    @*<script src="~/Scripts/js/dataTables.buttons.min.js"></script>*@
    <script src="~/Scripts/js/dataTables.select.min.js"></script>
    <script src="~/Scripts/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/js/dataTables.editor.min.js"></script>
    <script src="~/Scripts/js/datatables.js"></script>

    <script>
        $(document).ready(function () {
            //alert('<%=ViewBag.Message%>');
            
            //this piece of jQuery is to clear the URL
            var uri = window.location.toString();
            var username = getQueryString('Username', uri);
            console.log(username)
            if (uri.indexOf("?") > 0) {
                var clean_uri = uri.substring(0, uri.indexOf("?"));
                window.history.replaceState({}, document.title, clean_uri);
            }

            //This show the model of the User Admin Add and had a close button
            $('#btnAddUserAdmin').on('click', function (e) {
                e.preventDefault();
                $("#divAdmin").show();
            });
            $('.close').on('click', function (e) {
                $("#divAdmin").hide();
            })
            $('#btnCancel').click(function () {
                $("#divAdmin").hide();
            })
            $('#btnAdminSubmit').on('click', function (e) {
                e.preventDefault();
                AdminAdd();
            });
            //End User Admin Add

            //Video List Upload
            $('#btnUplaod').on('click', function (e) {
                e.preventDefault();

                var filePath = $('#txtFilepath').val();

                var fileUpload = $("#UplFile").get(0);
                // if (fileUpload.value != null) {
                var files = fileUpload.files;
                var uploadFile = new FormData();


                //var uploadfiles =
                for (var i = 0; i < files.length; i++) {
                    filename = files[i].name;
                    uploadFile.append(files[i].name, files[i]);
                }
                // Add the uploaded file content to the form data collection
                //if (files.length > 0) {
                //uploadFile.append("Movie_Information.csv", files[0]);
                $.ajax({
                    url: "/Home/UploadCsvFile?filePath=" + filePath + '&UserID=' + UserName,
                    contentType: false,
                    processData: false,
                    data: uploadFile,
                    type: 'POST',
                    success: function (result) {
                        debugger;

                        if (result == "File Uploaded Successfully!") {
                            swal({
                                title: 'Success!',
                                text: 'File Uploaded Successfully!.',
                                type: 'success',
                                confirmButtonText: 'Ok'
                            })
                        }

                    }
                });
                //}
                // }
            })
            //End

            //Video List Table
            $('#divVideoAdmin').on('click', function () {
                ViewVideoTable();
                $('#divAdminDashboard').hide();
            })
            //End

            //Video Administation Table (Add, Edit, Update, Archive and Restore)
            $('#btnShowVideo').on('click', function (e) {
                $('#divAddVideo').show();
                $('#btnShowVideo').hide();
                ViewVideoTable(); /*reloading the table*/
            });
            $('#btnAddVideoCancel').on('click', function (e) {
                $('#divAddVideo').hide();
                $('#btnShowVideo').show();
            });
            $('#btnCancelEditVideo').on('click', function (e) {
                e.preventDefault();
                $('#divVideoEdits').hide();
                ViewVideoTable();/*reloading the table*/
            })
            $('#btnAddVideo').on('click', function (e) {
                e.preventDefault();
                $('#divAddVideo').hide();
                var AddTitle = $("#txtAddTitle").val();
                var AddDescription = $("#txtAddDescription").val();
                var AddGenre = $("#txtAddGenre").val();
                var AddRentalPrice = $("#txtAddRentalPrice").val();
                var url = '/Home/AddNewVideo?Title=' + AddTitle + '&Description=' + AddDescription + '&Genre=' + AddGenre + '&RentalPrice=' + AddRentalPrice;
                $.ajax({
                    type: 'POST',
                    url: url,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (result) {
                        $('#btnShowVideo').show();
                        ViewVideoTable();
                    }
                });

            })
            //Update video
            $('#btnSubmitEditVideo').on('click', function (e) {
                e.preventDefault();
                UpdateVideo();
            })
            

            //redirect to customer Admin
            $('#divCustomerAdmin').on('click', function (e) {
                var url = window.location.href;
               
                var url = '/Home/CustomerAdministration?userName=' + username;
                window.open(url, '_self')

            });

        })
        //this is a function to add admin users
        function AdminAdd() {
            var AdminName = $('#txtAdminName').val();
            var EmailAddress = $('#txtEmailAddress').val();
            var Password = $('#txtPassword').val();


            $.ajax({
                type: 'POST',
                url: "/Home/AdminInsert",
                data: {
                    'AdminName': AdminName,
                    'EmailAddress': EmailAddress,
                    'AdminPassword': Password
                },
                dataType: 'json',
                success: function (result) {

                    var Result = _.map(result, i => _.pick(i, 'result'))
                    var result = Result[0].result
                    if (result == "success") {
                        swal({
                            title: 'Success!',
                            text: 'Admin insert was successfully.',
                            type: 'success',
                            confirmButtonText: 'Ok'
                        })
                    }
                }

            });


        }
        //this is a function to populate the video table for viewing
        function ViewVideoTable() {
            $('#divVideoGrid').show();

            //var url = window.location.href;
            //var UserName = getQueryString('userName', url);
            var url = '/Home/ListofVideos';
            $.ajax({
                type: 'POST',
                url: '/Home/ListofVideos',
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    console.log(result)
                    var table = $('#gvAllVideos').DataTable();
                    table.destroy();
                    var table = $('#gvAllVideos');
                    table.DataTable({
                        response: true,
                        "data": result.VideoView,
                        columns: [
                            { "data": "VideoID" },
                            { "data": "Title" },
                            { "data": "Description" },
                            { "data": "Genre" },
                            { "data": "RentalPrice", render: $.fn.dataTable.render.number(',', '.', 0, 'R') },
                            { "data": "StatusName" },
                            { data: null, render: function (data, type, row) { return "<a class='btnEditVideo editor_edit button special' data-videoID-attr='" + data.VideoID + "'>Edit</a>" } }
                        ],
                        select: true,

                    })





                }
            })

        }
        //UPdate Video
        function UpdateVideo() {
            var editID = $("#HFVideoID").val();
            var editTitle = $("#txtEditTitle").val();
            var editDescription = $("#txtEditDescription").val();
            var editGenre = $("#txtEditGenre").val();
            var editRentalPrice = $("#txtEditRentalPrice").val();
            var editStatus = $("#ddStatus").val();

            var url = '/Home/VideoUpdate?VideoID=' + editID + '&Title=' + editTitle + '&Description=' + editDescription + '&Genre=' + editGenre + '&RentalPrice=' + editRentalPrice + '&Status=' + editStatus;
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                dataType: 'json',
                success: function (result) {
                    $('#divVideoEdits').hide();
                    ViewVideoTable();


                }

            });
        }

        function BacktoDash() {
            $('#divAdminDashboard').show();
            $('#divVideoGrid').hide();
        }
        var getQueryString = function (field, url) {
            var href = url ? url : window.location.href;
            var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
            var string = reg.exec(href);
            return string ? string[1] : null;
        };
    </script>

}


<header id="header">
    <div class="logo">@Html.ActionLink("Mr. E Online Rental", "Index", "Home")</div>
    <a href="#menu" class="toggle"><span>Menu</span></a>
</header>
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="box">
            @*This is Admin dashboard*@
            <div class="content" id="divAdminDashboard">
                <header class="align-center">
                    <h2>Admin Dashboard</h2>
                </header>
                <div class="row uniform">
                    <div id="main-block" class="container 4u 12u$(xsmall)">
                        <div class="MainDiv" id="divVideoAdmin">
                            <section class="span4">
                                <i class="Icons fa fa-5x far fa-forward"></i>
                                <h2 class="LabelIcons">Video Administration</h2>
                            </section>
                        </div>
                    </div>
                    <div id="main-block" class="container 4u 12u$(xsmall)">
                        <div class="MainDiv" id="divCustomerAdmin">
                            <section class="span4">
                                <i class="Icons fa fa-5x fa-users"></i>
                                <h2 class="LabelIcons">Customer Administration</h2>
                            </section>
                        </div>
                    </div>
                    <div id="main-block" class="container 4u 12u$(xsmall)">
                        <div class="MainDiv">
                            <section class="span4">
                                <i class="Icons fa fa-5x fa-file"></i>
                                <h2 class="LabelIcons">Report</h2>
                            </section>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <label>Upload video list</label>
                        <input type="file" name="files" id="UplFile" accept=".csv" />
                        <input type="text" placeholder="please provide the file path" id="txtFilepath" />
                        <button class="button alt" id="btnUplaod">Upload</button>
                    </div>
                    <div class="8u 12u$(xsmall)">
                        <button id="btnAddUserAdmin" type="button" data-loading-text="Loading... ">Add User Admin</button>
                    </div>
                </div>
                @*this is the Admin Add Page*@
                <div id="divAdmin" class="modal">
                    <div class="modal-content">
                        <span class="close pull-right">&times;</span>
                        <h3>Admin Add</h3>
                        <div class="row uniform" style="margin-bottom: 10px">
                            <div class="6u 12u$(xsmall)">
                                <input type="text" name="PhoneNumber" id="txtAdminName" placeholder="Name" />
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <input type="email" name="EmailAddress" id="txtEmailAddress" placeholder="Email Address" />
                            </div>
                        </div>
                        <div class="row uniform" style="margin-bottom: 10px">
                            <div class="6u 12u$(xsmall)">
                                <input type="password" name="AdminPassword" id="txtPassword" placeholder="Password" />
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <button id="btnAdminSubmit" class="special">Submit</button>
                                <button id="btnCancel" class="alt">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*This is Video Administration*@
            <div class="content" id="divVideoGrid" style="display:none">
                <header class="align-center">
                    <h2>Video Administration</h2>
                </header>
                @*This is to add a new Video*@
                <div class="">
                    <button class="button alt 8u 12u$(xsmall)" id="btnShowVideo">Add a Video</button>
                    <button class="button 3u 12u$(xsmall)" id="btnBacktoAdminDash" onclick="BacktoDash()">back to Dashboard</button>
                    <div class="row uniform" style="display:none;margin-top:10px" id="divAddVideo">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" placeholder="Title" id="txtAddTitle" />
                            <input type="text" placeholder="Description" id="txtAddDescription" />
                            <input type="text" placeholder="Genre" id="txtAddGenre" />
                            <input type="text" placeholder="Rental Price" id="txtAddRentalPrice" />
                        </div>
                        <div class="8u 12u$(xsmall)">
                            <button id="btnAddVideo" type="button" data-loading-text="Loading... ">Add Video</button>
                            <button id="btnAddVideoCancel" type="button" data-loading-text="Loading... ">Cancel</button>
                        </div>
                    </div>
                    <div style="margin-top:10px">
                        <table id="gvAllVideos" class="display responsive wrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="all">Video ID</th>
                                    <th class="all">Title</th>
                                    <th class="none">Description</th>
                                    <th class="all">Genre</th>
                                    <th class="none">Rental Price</th>
                                    <th class="all">Status</th>
                                    <th class="all"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                @*this is the Video Edit, Update, Archive and Restore*@
                <div id="divVideoEdits" class="modal">
                    <input type="hidden" id="HFVideoID" />
                    <div class="modal-content">
                        <h3>Video Edit</h3>
                        <span class="close">&times;</span>
                        <div class="row uniform" style="margin-bottom: 10px">
                            <div class="6u 12u$(xsmall)">
                                <input type="text" placeholder="Title" id="txtEditTitle" />
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <input type="text" placeholder="Description" id="txtEditDescription" />
                            </div>
                        </div>
                        <div class="row uniform" style="margin-bottom: 10px">
                            <div class="6u 12u$(xsmall)">
                                <input type="text" placeholder="Genre" id="txtEditGenre" />
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <input type="text" placeholder="Rental Price" id="txtEditRentalPrice" />
                            </div>
                        </div>


                        <div class="row uniform" style="margin-bottom: 10px">

                            <div class="6u 12u$(xsmall)">
                                <select id="ddStatus">
                                    <option value="" selected>Please select Status</option>
                                    @foreach (var item in Model.DropdownStatus)
                                    {
                                        <option value="@item.StatusID" selected>@item.StatusName</option>
                                    }

                                </select>
                            </div>
                            <div class="6u 12u$(xsmall)">
                                <button id="btnSubmitEditVideo" class="special">Submit</button>
                                <button id="btnCancelEditVideo" class="alt">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

