@{
    ViewBag.Title = "Home Page";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnGetStarted').on('click', function () {
                $('#login').show();
                $('#banner').hide();
            });

        });
    </script>
    
    }
    
<section id="banner" data-video="~/images/186120-OX1QLI-828.jpg">
    <div class="inner">
        <h1>Mr. E Online Rental</h1>
        <p>
            Welcome to Mr. E Online Rental<br />
            Where you can do video rentals online.
        </p>
        <a href="#one" class="button special scrolly" id="btnGetStarted">Get Started</a>
    </div>
</section>
<!-- One -->
<section id="login" class="wrapper style2" style="display:none;">
        <div class="inner">
            <div>
                <div class="box">
                    @*<div class="image fit">
                        <img src="images/pic01.jpg" alt="" />
                    </div>*@
                    <div class="content">
                        <form method="post">
                            <header class="align-center">
                                <h3><i class="fas fa-sign-in-alt">Login</i></h3>
                            </header>
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="Username" id="txtUserName" placeholder="UserName" />
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <input type="password" name="Username" id="txtPassword" placeholder="password" />
                                </div>
                            </div>
                            <div class="12u$" style="margin-top: 10px">
                                <ul class="actions">
                                    <li><a  value="Login" class="button special icon fa-sign-in">Login</a></li>
                                    <li><input type="submit" value="Register" class="alt" /></li>
                                    <li><input type="submit" value="Cancel"/></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>